.hero {
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  background-color: #252a30;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/img/background.JPG);

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(49,61,65,0.6)), to(rgba(49,61,65,0.6)));
    background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
  }

  h1 {
    margin-top: 20px;
    font-family: $fontFamily-heading;
    color: $white;
    font-weight: 700;
    font-size: 1.6em;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.hero-content {
  display: table-cell;
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;

  img {
    width: 50px;
  }
}
